body {
    font-family: Arial, sans-serif;
    margin: 0 10px;
    padding: 0;
    background: url('images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
	
}

header {
    background-color: rgba(51, 51, 51, 0.85);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

header div{
	position: absolute; 
	top: 20px; 
	left: 20px; 
	z-index:1500;
}

#Basket {
    cursor: pointer;
    font-weight: bold;
}

main {
    margin-top: 20px;
}

#categoryMenu {
    text-align: center;
    margin-bottom: 15px;
}

#categoryMenu button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#categoryMenu button:hover,
#categoryMenu button.active {
    background-color: #002752;
}

#currentCategory {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.info-grid {
    max-width: 800px;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.info-grid div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.other-info {
    grid-column: span 3;
    background: rgba(255,255,255,0.9);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.info-picture {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 30px auto;
    height: auto;
}

footer {
    text-align: center;
    margin: 30px 0;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	
}

.hiddenSection {
    display: none;
}

.activeSection {
    display: block;
}

#darkening {
    display: none;
    position: fixed;
    top: 0;	
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

#notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1100;
    font-weight: bold;
}

#basketPopup {
    display: none;
    position: fixed;
    right: 20px;
    top: 50% !important;
    transform: translateY(-50%);
    width: 320px;
    max-height: 80vh;
    overflow: hidden;
    border: 1px solid #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    z-index: 1400;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#listProducts {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 50vh;
    margin-bottom: 10px;
}

.Basket-product {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Basket-product button {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
    flex-shrink: 0;
}

#checkoutBtn {
    margin: 10px 0;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #004085;
    border: none;
    color: white;
    border-radius: 4px;
}

#checkoutForm {
    display: flex;
    flex-direction: column;
}

#checkoutForm h4 {
    margin: 10px 0;
}

#checkoutForm label {
    margin: 5px 0;
    cursor: pointer;
}

#nameSurnameInput {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

#emailData,
#phoneData {
    margin: 10px 0;
}

#emailInput,
#telInput {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#buyBtn {
    align-self: flex-end;
    padding: 12px 25px;
    margin-top: 10px;
    background-color: #28a745;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(40, 167, 69, 0.5);
}

#buyBtn:hover {
    background-color: #218838;
}

.close-btn {
    display: block;
    text-align: center;
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}


